.create-note-wrp{
  padding:0 20px;
  height: 80%;
  .note-input{
    &.note-title{
      --padding-top: 30px;
      font-size: 1.5em;
    }
    &.note-description{
      height: 60%;
    }
  }
  .note-date-reminder{
    padding-top: 10px;
    display: inline-block;
    .note-date-reminder-item{
      --border-color:white;
      --padding-start:8px;
      --ripple-color:white;
      --background-activated:white;
      --background-hover:white;
    }
    .note-reminder{
      --padding-start: 10px;
      --padding-top:10px
    }
  }
}
