<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addItem()" >Guardar</ion-button>
    </ion-buttons>
    <ion-title>Nueva Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-note-wrp">
    <ion-input class="note-input note-title" placeholder="Titulo" [(ngModel)]="newNote.title" ></ion-input>
    <ion-textarea class="note-input note-description" rows="20" placeholder="Descripcion ..." [(ngModel)]="newNote.description"></ion-textarea>
  </div>


  <ion-item>
    <ion-datetime placeholder="Recordatorio"
            displayFormat="MMM DD, YYYY HH:mm"
            max="2025"
            [(ngModel)]="newNote.reminder"></ion-datetime>
  </ion-item>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="openPicker()">
        <ion-icon name="alarm"></ion-icon>
        <ion-label>Recordatorio</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>Etiqueta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



</ion-content>
